    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        user-select: none;
    }

    body {
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-image: url(/back.jpg  );
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .mainBox {
        background-color: white;
        padding: 50px 60px;
        border-radius: 30px;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
        width: 500px;
        max-width: 90%;
        text-align: center;

    }

    .inputSection {
        display: flex;
        margin-bottom: 35px;
        width: 100%;
        box-sizing: border-box;
    }

    .inputSection .input {
        flex: 1;
        padding: 18px 20px;
        border: 2px solid #6c7b91;
        border-radius: 16px 0 0 16px;
        font-size: 20px;
        outline: none;
        transition: border-color 0.3s ease;
        min-width: 0;
    }

    .inputSection .input:focus {
        border-color: #6c7b91;
    }

    .inputSection .btn {
        background: #6c7b91;
        color: white;
        border: none;
        padding: 18px 28px;
        font-size: 20px;
        border-radius: 0 16px 16px 0;
        cursor: pointer;
        transition: background 0.3s ease;
        flex-shrink: 0;
    }

    .inputSection .btn:hover {
        background: #555960;
    }

    .infoPlace {
        position: relative;
        background: rgba(255, 255, 255, 0.2);
        display: none;
        flex-direction: column;
        gap: 14px;
        padding: 30px;
        border-radius: 20px;
        color: #333;
        font-weight: 600;
        font-size: 22px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        width: 100%;
        min-height: 200px;
        overflow: hidden;
    }

    .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        z-index: 0;
    }

    .infoPlace.defaultWeather {
        background: linear-gradient(135deg,
                blue, white, blue);
        color: #333;

    }

    .townName {
        font-size: 36px;
        font-weight: 800;
        padding: 12px 0;
        position: relative;
        z-index: 1;
    }

    .disc {
        font-style: italic;
        font-size: 26px;
        padding: 10px 0;
        position: relative;
        z-index: 1;
    }

    .cels {
        font-size: 28px;
        font-weight: 800;
        padding: 10px 0;
        position: relative;
        z-index: 1;
    }


    @media (max-width: 480px) {
    .inputSection input, .inputSection button {
        font-size: 14px;
        padding: 10px;
    }

    .townName, .disc, .cels {
        font-size: 16px;
    }

    .infoPlace {
        padding: 10px;
    }
}